.Button{
    display: grid;
    height: 100px;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    background-color: gray;
    color: white;
    outline: 1px solid orange;
    cursor: pointer;
}
